six
bs4
redis
boto3==1.16.9
django==3.0.5
sqlparse==0.2.4
pytest
ipcalc
demjson
requests
botocore==1.19.9
virtualenv
mongoengine
coloredlogs
python-dotenv
django-crontab
awesome-slugify
python-telegram-bot
django-rest-framework-mongoengine