six==1.15.0
bs4==0.0.1
redis==3.5.3
boto3==1.16.9
daphne==3.0.0
django==3.0.5
sqlparse==0.2.4
pytest==6.1.2
ipcalc==1.99.0
demjson==2.2.4
requests==2.24.0
botocore==1.19.13
virtualenv==20.1.0
mongoengine==0.20.0
coloredlogs==14.0
python-dotenv==0.15.0
django-crontab==0.7.1
awesome-slugify==1.6.5
python-telegram-bot==13.0
django-rest-framework-mongoengine==3.4.1