{% extends "baseAdmin.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
                    <thead>
                        <tr>
                            {% for header in data.headers %}
                            <th>{{header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            {% for header in data.headers %}
                            <th>{{header}}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                    <tbody>

                        {% for album in data.albums %}
                        <tr>
                            <td>{{album.albumDisplayTitle}}</td>
                            <td>{% for tag in album.albumTags %}
                                {{tag}},
                                {% endfor %}
                            </td>

                            <td>{% for category in album.albumCategories %}
                                {{category}},
                                {% endfor %}
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}