{% extends "base.html" %}
{% load static %}
{% block page_content %}


<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Gallery
        <small>/Page {{data.pageNo}}</small>
    </h1>

    <ol class="breadcrumb">
        {% for breadcrumb in data.breadcrumb %}
        <li class="breadcrumb-item">
            <a href="{{breadcrumb.url}}">{{breadcrumb.title}}</a>
        </li>
        {% endfor %}
    </ol>

    <!-- Album List -->
    <div class="row">
        {% for album in data.albums %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="{{album.albumUrl}}" target="_blank"><img class=" card-img-top"
                        src="{{album.albumThumbnailUrl}}" alt=""></a>
                <div
                    style="position: absolute;bottom: 0%;height: 15%;width: 100%; background-color: black;opacity: 0.7;">
                </div>
                <h5 class="card-title" style="padding: 6%; position: absolute;bottom: 0%;height: 15%;width: 100%;">
                    <a href="{{album.albumUrl}}" target="_blank" style="color: white">{{album.albumDisplayTitle}}</a>
                </h5>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center" style="margin:20px 0">
        <ul class="pagination">
            {% for pagiObj in data.pagiObjs %}
            <li class="page-item {{pagiObj.pagiStatus}}"><a class="page-link"
                    href="{{pagiObj.pagiUrl}}">{{pagiObj.pagiNo}}</a></li>
            {% endfor %}
        </ul>
    </ul>
</div>
<!-- /.container -->

{% endblock %}