<!-- https://startbootstrap.com/previews/modern-business -->

{% extends "base.html" %}
{% load static %}
{% block page_content %}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in data.slide %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{slide.slideNo}}" class="{{slide.status}}">
            </li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for slide in data.slide %}
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item {{slide.status}}" style="padding: 0.8%;">
                <div class="row">
                    <div class="col-md-3 clearfix d-none d-md-block">
                        <img src="{{slide.images.0}}" alt="{{slide.albumDisplayTitle}}" style="width: 100%;
                            height: 100%;
                            object-fit: cover;">
                    </div>

                    <div class="col-md-6">
                        <img class="card-img-top" src="{{slide.images.1}}" alt="{{slide.albumDisplayTitle}}" style="width: 100%;
                            height: 100%;
                            object-fit: cover;">
                    </div>

                    <div class="col-md-3 clearfix d-none d-md-block">
                        <img class="card-img-top" src="{{slide.images.2}}" alt="{{slide.albumDisplayTitle}}" style="width: 100%;
                            height: 800px;
                            object-fit: cover;">
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <div
                        style="position: absolute;bottom: 30px;height: 80px;width: 100%; background-color: black;opacity: 0.4;">
                    </div>
                    <h3 class="card-title" style="padding: 6%; position: absolute;bottom: 0%;height: 15%;width: 100%;">
                        <a href="{{slide.albumUrl}}" target="_blank"
                            style="color: white">{{slide.albumDisplayTitle}}</a>
                    </h3>
                </div>
            </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
            style="width: 25%;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
            style="width: 25%;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <h1 class="my-4">Welcome to Best Sexy Forever</h1>
    <hr>

    <!-- New album -->
    <h2 class="my-4">New albums</h2>

    <div class="row">
        {% for album in data.albums %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="{{album.albumUrl}}" target="_blank"><img class=" card-img-top"
                        src="{{album.albumThumbnailUrl}}" alt=""></a>
                <div
                    style="position: absolute;bottom: 0%;height: 15%;width: 100%; background-color: black;opacity: 0.7;">
                </div>
                <h5 class="card-title" style="padding: 6%; position: absolute;bottom: 0%;height: 15%;width: 100%;">
                    <a href="{{album.albumUrl}}" target="_blank" style="color: white">{{album.albumDisplayTitle}}</a>
                </h5>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row mb-4">
        <div class="col-md">
            <a class="btn btn-lg btn-secondary btn-block" href="/gallery/001">See more new albums</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>
<!-- /.container -->


{% endblock %}